# Byte-compiled / optimized / DLL files
__pycache__/
.DS_Store
*.pyc
.idea/
.pytest_cache/
.venv/
venv/
docs/build
docs/_build/
.*.sw?
*.so
*.o
dependencies/
tests/keys/
build/
dist/
pytaps.egg-info/
